[run]
include =
    nums/*
omit =
  setup.py
  tests/**/*
  nums/core/settings.py
  nums/experimental

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    return NotImplemented
