dist: bionic
language: python
python:
  - "3.6"
install:
  - pip install .
  - pip install pytest==6.1.1 pytest-pylint==0.17.0 pytest-cov==2.10.1 coverage==5.3 codecov==2.1.9 tqdm
script:
  - pytest --pylint --cov-append --cov-config=.coveragerc --cov-report=term --cov=nums
after_success:
  - codecov
