name: lint

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install NumS
        run: |
          python3 -m pip install --upgrade pip
          pip3 install .[testing]
      - name: Run pylint
        run: |
          pylint nums
